.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
}

.overlay.show {
    display: flex;
}

.modal {
    margin: auto;
    background: white;
    color: #222;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
}

.modal h3 {
    margin: 0;
    padding-bottom: 15px;
}

.close {
    float: right;
    text-decoration: none;
    font-size: 20px;
    background: #ddd;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #222;
    margin-right: -10px;
    margin-top: -10px;
}

.field {
    margin-bottom: 15px;
}

.field label {
    display: block;
    margin-bottom: 5px;
}

.field input {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.form button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form .bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.form .bottom button {
    flex: 1;
    min-width: 100px;
    text-wrap: nowrap;
}

.form .bottom a {
    flex: 0 0 100%;
    text-align: center;
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
}

.form .bottom a:hover {
    text-decoration: underline;
}

.error-message {
    color: crimson;
    margin-bottom: 15px;
    font-style: italic;
}

.error-message.success {
    color: green;
    font-style: normal;
}

.user-register {
    display: none;
}

.user-recover {
    display: none;
}

.password-reset {
    display: block;
}

.user-screen {
    flex: 1;
    display: flex;
}

.user-list {
    background: #fff;
    color: #222;
    padding: 15px 10px;
    border-radius: 10px;
    display: flex;
    margin: auto;
}

.user-list > div {
    margin: 0 15px;
}

.user-list a {
    color: #222;
}

.user-list b {
    display: block;
    text-align: center;
    text-decoration: underline;
}

.user-list i {
    color: #666;
    font-size: 14px;
}

.user-list .avatar {
    margin: 10px 0;
    width: 200px;
    height: 200px;
    display: block;
    border: 1px solid #666;
    border-radius: 20px;
    overflow: hidden;
    color: #999;
}

.avatar-edit {
    position: absolute;
    color: #fff;
    opacity: .8;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.3);
}

.avatar-edit:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
}

.user-edit-screen {
    background-color: #fff;
    border-radius: 20px;
    margin: 30px auto;
    color: #222;
    padding: 30px;
}

.user-edit-screen > form > div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-edit-screen .avatar-preview {
    justify-content: center;
}

.user-edit-screen .avatar-preview img {
    border-radius: 20px;
}

.user-edit-screen label {
    margin-right: 30px;
    width: 100px;
}

.file-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f8f8f8;
}

.file-input:focus {
    border-color: #007BFF;
}

.file-input::file-selector-button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
}

.text-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.text-input:focus {
    background-color: #fff;
}
